@font-face {
  font-family: 'GROBOLD';
  src: url('http://www.fontsaddict.com/fontface/grobold.ttf');
}

body{
  font-family: 'GROBOLD';
  src: url('http://www.fontsaddict.com/fontface/grobold.ttf');
}